django>1.9,<1.10
django-bootstrap3
django-extensions>1.6
django-debug-toolbar
django-pdb
git+https://github.com/cyso/HamlPy/@feature/django-1.9-compatibility
werkzeug
django-reversion>1.10
psycopg2
git+https://github.com/neutrinet/django-admin-views
