-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Ordering WebSite

-block bootstrap3_content
  .container
    %h1 Neutrinet Cube Ordering WebSite
    %hr

    %p This website is used to allow members of Neutrinet to order hardware for the Cube project. <a href="http://labriqueinter.net">More information (in french)</a>.

    %h3 Things to remember
    %ul
      %li we don't sell you internet cube hardware, we made the order for you
      %li then, except if you asked otherwise, we configure and install everything for you
      %li we send you how much the ordering has cost us
      %li when repaying us, you are invited to add how much you think the service we offer you is worth it
      %li we hand you other the cube physically (except special situations we won't send it to you by post)
      %li we finish the last bit of configuration of the cube with you and explain you how it works

    %p Remember that we are all volunteers and that this project is still young.

    %div{style: "margin-top: 60px"}
      %center
        %a.btn.btn-lg.btn-primary{href: "{% url 'order' %}"}
          Order my cube
