-extends "bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Ordering WebSite

-block bootstrap3_content
  .container
    %h1 Neutrinet Cube Ordering Website
    %hr

    %p This website is used to allow (future) members of Neutrinet to order hardware for the Cube project. <a href="http://labriqueinter.net">More information (in french)</a>.

    %h3 Things to remember
    %ul
      %li we don't sell you internet cube hardware, we make the order for you
      %li then, except if you asked otherwise, we configure and install everything for you
      %li we inform you of the final price for your order (this will likely be lower if we get enough orders)
      %li when paying us, you are invited to add how much you think this service we offer you is worth
      %li we hand you over the cube physically or send it to you by post, though we like to meet our users 
      %li we finish the last bit of configuration of the cube with you and explain you how it works

    %p Remember that we are all volunteers and we'd love for you to join us.

    %div{style: "margin-top: 60px"}
      %center
        %a.btn.btn-lg.btn-primary{href: "{% url 'order' %}"}
          Order my cube
