-extends "bootstrap3.html"
-load i18n

-block bootstrap3_title
  -trans "Neutrinet Cube Group Order Form"

-block bootstrap3_content
  .container
    %h1
      -trans "Neutrinet Cube Group Order Form"
    %hr

    %p
      -trans "This website is dedicated to helping (future) Neutrinet members to acquire parts of, or complete, <a href='http://labriqueinter.net'>[fr] Internet Cube</a> (<i>brique internet</i>)."

    %p
      -trans "Please bear in mind that we do not sell hardware components, we buy it for you so that the overall process is eased and you benefit from lower rates."

    %h3
      -trans "About the process:"
    %ol
      -blocktrans
        %li through this website, you will get to chose your desired components (and optionally subscribe to the Neutrinet VPN service);
        %li as soon as we have enough orders and that everyone has paid, we will make a group order and let you know about the estimated time of arrival;
        %li the indicated price is the bare price without any margin and is the minimal, you are invited to add to it how much you think this service is worth it (and how much you can, 0 is totally acceptable). This is called "free price";
        %li you are invited to pay before the deadline : the sooner everyone has paid, the sooner we can make the order;
        %li once the components arrive, we will let you know when you can come and grab your Cube (and/or components) and, except if you have opted out, finish the configuration with you and explain how to use it.

    %p
      -trans "Neutrinet is as strong as its community is, <a href='http://neutrinet.be/#getinvolved'>join us</a>!"

    %div{style: "margin-top: 60px; margin-bottom: 40px"}
      %center
        %a.btn.btn-lg.btn-primary{href: "{% url 'order' %}"}
          -trans "Order my cube"

    .row
      .col-md-6
        %h3
          -trans "Current and previous group orders"
        %hr

        -for group_order in group_orders
          .panel.panel-default
            .panel-heading= group_order.name
              \-
              -if group_order.state == "open"
                .label.label-success
                  -trans "current open group order"
              -elif group_order.state == "close"
                .label.label-danger
                  -trans "closed, the order is being processed"
              -elif group_order.state == "done"
                .label.label-default
                  -trans "cubes have been distributed"
              -else
                =group_order.state

            .panel-body
              -if group_order.deadline
                %p
                  %b
                    -trans "Deadline:"
                  =group_order.deadline
              -else
                %p
                  %i
                    -trans "There is no deadline right now."

              -if group_order.description
                =group_order.description|safe

              -if group_order.order_set.count == 0
                %p
                  -trans "There is no one in this group order for now."
              -else
                %p
                  -if group_order.order_set.count == 1
                    -blocktrans with count=group_order.order_set.count
                      There is {{ count }} person registered in this group order.
                  -else
                    -blocktrans with count=group_order.order_set.count
                      There is {{ count }} people registered in this group order.

        %p
          %i
            -trans "You will be automatically assigned to the current group order when making an order, this information is here to inform you about the current state of the process."

      .col-md-6
        %h3
          -blocktrans
            Bank information
            %small you'll receive it by email
        %hr

        .well
          %dl.dl-horizontal{style: "margin-bottom: 0px"}
            -blocktrans
              %dt
                Bank
              %dd
                RecordBank
              %dt
                Name
              %dd
                Neutrinet ASBL
              %dt
                Communication
              %dd
                for example: order X of first name last name (nick)
              %dt
                IBAN
              %dd
                BE52 6528 3497 8409
              %dt
                BIC
              %dd
                HBKABE22
