-extends "bootstrap3.html"
-load bootstrap3

-block bootstrap3_title
  Neutrinet Cube Ordering Website

-block bootstrap3_extra_head
  :css
    h3 {
      margin-top: 0px;
    }

    .well {
      padding-bottom: 7px;
    }

    .table {
      background-color: white;
    }

    th {
      background-color: #DDDDDD;
    }

-block bootstrap3_content
  .container
    %h1 Neutrinet Cube Ordering Form
    %hr

    %form{method: "POST"}
      -csrf_token

      -if form.errors
        .alert.alert-danger
          You have made some mistakes, please correct them.

      .well
        %h3 Contact information

        .row
          .col-md-6
            -bootstrap_field form.first_name
          .col-md-6
            -bootstrap_field form.last_name

        .row
          .col-md-6
            -bootstrap_field form.email
          .col-md-6
            -bootstrap_field form.nick

      .well
        %h3 Preferences

        -bootstrap_field form.wants_to_install_everything_himself

      .well
        %h3 Subscribe to a Neutrinet VPN (recommended)

        %p
          %i You do not need to fill this section if you already have a VPN subscription.

        %p
          You will need a VPN connection if you want your Cube to work in a <i>plug'n play</i> fashion. It is stongly recommended to use one, unless you know what you are doing.

        %p Technically, the VPN connection will encrypt all your Cube's traffic, making it unreadable to your current <abbr title="Internet Service Provider">ISP</abbr>, and will give your Cube a static IP address that will make it easily reachable wherever you install it (roughly like a mobile phone number).

        %hr

        %p
          Please note that Neutrinet is a non-profit ASBL/VZW. Therefore, by subscribing to the VPN service, you will become a <b>member</b> of Neutrinet. This membership grants you the right to vote and decide the future of Neutrinet. You will not be a customer, you will be Neutrinet.

        %p
          <b>You are free to consider how much your VPN subscription worth</b>, and how much you want to pay for it. We strongly recommend you to pay at least 6€/month, because we cannot currently afford to lower the service's price below. The mandatory membership fee costing 24€/year, we are all paying around 8€/month (6€ + 2€ for membership) for now. Of course, any additional support is really appreciated :-)

        %p
          %i If you want to run multiple Cubes at the same time, you will need multiple VPN subscriptions.

        -bootstrap_field form.wants_vpn

        #vpn_informations{style: "display: none"}
          %p
            The Belgium Telecom laws and our ASBL/VZW status requires us to ask you the following personal informations. It will obviously not be selled nor leaked.

          .row
            .col-md-6
              -bootstrap_field form.street
              -bootstrap_field form.postal_code
              -bootstrap_field form.town
              -bootstrap_field form.country
            .col-md-6
              -bootstrap_field form.birthplace
              -bootstrap_field form.birth_date

      .well
        %h3 Register a domain name (recommended)

        %p
          %i You do not need to fill this section if you already have registered domain name.

        %p
          Your Cube will be associated to a domain name. It will enable you to receive emails at addresses like you@your-domain.org and to have your Cube accessible from https://your-domain.org.

        %p
          By default, we can provide you a domain name for free ending with <i>.nohost.me</i>, but if you want a domain name of your own (ending with <i>.be</i>, <i>.net</i> or <i>.org</i> for example), it will add an extra 1€ to your VPN subscription monthly fee.

        %p
          The domain name will be registered on <a href="https://gandi.net">Gandi.net</a>. Also, <b>please ensure that the domain name you want is available there</b>.

        -bootstrap_field form.domain_name
        -bootstrap_field form.wants_neutrinet_to_renew_the_domain

      .well
        %h3 Components

        %p
          The prices listed below are the prices we can for a batch order of 10 units, we also add 5€ as an estimation of the split shipping fees.

        %p
          We have a special deal with <a href="http://olimex.com">Olimex</a> that allow us to lower the prices. Prices below <b>include VAT</b> unlike those on Olimex.com website.

        %p
          %b The final price may vary slightly from what is shown below, it is only an estimation.

        %hr

        %h4 Default pack for the Cube
        %table.table.table-bordered
          %tr
            %th Quantity
            %th Name
            %th Estimated price

          -for component in default_components
            %tr
              %td
                %input.component-number{type: "number", value: "1", id: "id_component_{{ component.id }}_number", name: "component_{{ component.id }}_number", data-price: "{{ component.current_price }}"}
              %td
                %a{href: "{{ component.url }}", target: "_blank"}
                  =component
              %td
                =component.current_price
                €

        %h4 Extra components
        %table.table.table-bordered
          %tr
            %th Quantity
            %th Name
            %th Estimated price

          -for component in other_components
            %tr
              %td
                %input.component-number{type: "number", value: "0", id: "id_component_{{ component.id }}_number", name: "component_{{ component.id }}_number", data-price: "{{ component.current_price }}"}
              %td
                %a{href: "{{ component.url }}", target: "_blank"}
                  =component
              %td
                =component.current_price
                €

        %p
          %b
            Estimated total price:
          %span#estimated-price
          €
          for
          %span#number-of-components
          components

        %riv{style: "display: none"}
          -bootstrap_field form.estimated_price

        %p
          %i
            Reminder: We will sell you the final price once we will receive enough orders (usually 10) to order from Olimex by our side. You will be free to add as much as you think this service (batch ordering and Cube configuration) worth. Neutrinet does not charge any extra fee.

        %p
          %i
            If you wish to cancel your order in the mean time, please contact us immediately at 'cube at neutrinet dot be'.

      .well
        %h3 Additional comment (optional)

        -bootstrap_field form.comment

      %center
        %input.btn.btn-lg.btn-primary{type: "submit", value: "Confirm my order"}

      %hr

    %p
      %i
        If you have any question or if you want to modify your order, please contact us as soon as you can on <a href="mailto:cube@neutrinet.be">cube@neutrinet.be</a> or on <i>irc.freenode.net#neutrinet</i>.

    %p
      %b
        Please remember that we are humans and volunteers. We do not make any profit, we are helping you as well as we can and we are doing it on our free time only because we believe in a better Internet.


-block bootstrap3_extra_script
  :javascript
    $(function() {
      var calculate_estimated_price = function() {
        var total_price = 5;
        var total_number = 0;
        $("input.component-number").each(function(_, node) {
          var number = parseInt(node.value);
          var price = parseFloat(node.attributes["data-price"].value);
          total_number += number;
          total_price += number * price;
        })
        $("#estimated-price").html(parseFloat(Math.round(total_price * 100) / 100).toFixed(2));
        $("#number-of-components").html(total_number)
        $("#id_estimated_price").val(parseFloat(Math.round(total_price * 100) / 100).toFixed(2));
      }
      calculate_estimated_price()
      $("input.component-number").change(calculate_estimated_price)

      $("input#id_wants_vpn").change(function() {
        $("#vpn_informations").toggle("slow");
      })

      if ($("input#id_wants_vpn")[0].checked === true) {
        $("#vpn_informations").show();
      }
    })
