-extends "bootstrap3/bootstrap3.html"
-load bootstrap3

-block bootstrap3_title
  Neutrinet Cube Ordering WebSite

-block bootstrap3_extra_head
  :css
    h3 {
      margin-top: 0px;
    }

    .well {
      padding-bottom: 7px;
    }

    .table {
      background-color: white;
    }

    th {
      background-color: #DDDDDD;
    }

-block bootstrap3_content
  .container
    %h1 Neutrinet Cube Ordering Form
    %hr

    %form{method: "POST"}
      -csrf_token

      .well
        %h3 Contact informations

        .row
          .col-md-6
            -bootstrap_field form.first_name
          .col-md-6
            -bootstrap_field form.last_name

        .row
          .col-md-6
            -bootstrap_field form.email
          .col-md-6
            -bootstrap_field form.nick

      .well
        %h3 Preferences

        -bootstrap_field form.wants_to_install_everything_himself

      .well
        %h3 Subscription to Neutrinet VPN (recommended)

        %p
          %i If you already have a VPN subscription you don't need to fill this section.

        %p
          One of the big advantage of the Internet Cube is that it's linked to a VPN that gives him a public ip address (it's like having a public phone number). It solves <b>a LOT</b> of problems and allows the Internet Cube to works in a <i>plug'n play</i> fashion. We <b>really</b> recommended you to take one, if you don't, we expect you to know what you are doing.

        %p
          By taking a VPN subscription you'll become a member of the Neutrinet ASBL/VZW, we have members, not subscribers, we are an association, not a commercial <abbr title="Internet Service Provider">ISP</abbr>.

        %p
          The price for the VPN subscription is a "free price" with a minimum of 8€/month. This includes your ASBL/VZW membership fee of 25€/year (split as 2€/month, you even win 1€!). If you have already paid your membership, the min price there is 6€/month.

        %p
          %b You need one VPN subscription per cube for which you want a public IP.

        -bootstrap_field form.wants_vpn

        %p
          %i
            The Belgium Telecom laws (and ASBL/VZW for the address part) requires us that we ask your for those informations. You need to fill this we correct informations.

        .row
          .col-md-6
            -bootstrap_field form.street
            -bootstrap_field form.postal_code
            -bootstrap_field form.town
            -bootstrap_field form.country
          .col-md-6
            -bootstrap_field form.birthplace
            -bootstrap_field form.birth_date

      .well
        %h3 Domain name (optional)

        %p
          Your cube will be associated to a domain name, by default, YUNOHOST allows you to have a free domain name that ends with <i>.nohost.me</i>. If you want another domain name, we can take care of buying it for you. If you already have a domain name or prefer a <i>.nohost.me</i>

        %p
          The price will be split across your VPN subscription (for example, for a domain at 12€/year, this will add 1€/month to your VPN subscription). We are using <a href="https://gandi.net">Gandi</a> so check here to see how much it will cost (<b>V.A.T. is not included in the prices display by Gandi, it's 21%</b>).

        %p
          %b Make sure that the domain name you've chosed is available.

        %p
          %i Also please take into account that we don't own nor have specific relations with Gandi, so we can't guaranty if they fail (but it's very very unlikely).

        -bootstrap_field form.domain_name
        -bootstrap_field form.wants_neutrinet_to_renew_the_domain

      .well
        %h3 Components

        %p
          The prices listed here are the prices we get when we make at least 10 orders, we also add 5€ as an estimation of the split shipment cost.

        %p
          We have a special deal with Olimex to have better price. Our prices <b>include VAT</b> unlike Olimex website.

        %p
          <b>The final price may vary from what appears here, it's only an estimation</b>, but, hopefully, this should quite close to reality.

        %h4 Default pack for the cube
        %table.table.table-bordered
          %tr
            %th Quantity
            %th Name
            %th Estimated price

          -for component in default_components
            %tr
              %td
                %input.component-number{type: "number", value: "1", id: "id_component_{{ component.id }}_number", name: "component_{{ component.id }}_number", data-price: "{{ component.current_price }}"}
              %td
                %a{href: "{{ component.url }}", target: "_blank"}
                  =component
              %td
                =component.current_price
                €

        %h4 Other available components
        %table.table.table-bordered
          %tr
            %th Quantity
            %th Name
            %th Estimated price

          -for component in other_components
            %tr
              %td
                %input.component-number{type: "number", value: "0", id: "id_component_{{ component.id }}_number", name: "component_{{ component.id }}_number", data-price: "{{ component.current_price }}"}
              %td
                %a{href: "{{ component.url }}", target: "_blank"}
                  =component
              %td
                =component.current_price
                €

        %p
          %b
            Estimated total price:
          %span#estimated-price
          €
          for
          %span#number-of-components
          components

        %riv{style: "display: none"}
          -bootstrap_field form.estimated_price

        %p
          %i
            Reminder: we'll send you the final price once we'll received all the shipments, you'll be invited to add as much as you think that this service (ordering and configuration and everything else) is worth it. We won't take any percentage on the base price.

      .well
        %h3 Additional comment (optional)

        -bootstrap_field form.comment

      %center
        %input.btn.btn-lg.btn-primary{type: "submit", value: "Confirm my order"}

      %hr

      %p
        %i
          For any questions or if you want to modify your order (please do it fast, if we pass the order on our side it will be too late!), you can join us on <a href="mailto:cube@neutrinet.be">cube@neutrinet.be</a> or on <i>irc.freenode.net#neutrinet</i> if you are using <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a>.

      %p
        %b
          Remember, we are only volunteers (and humans to), we don't make any profit on that, we do that to help you and because we believe in a better Internet.


-block bootstrap3_extra_script
  :javascript
    $(function() {
      var calculate_estimated_price = function() {
        var total_price = 5;
        var total_number = 0;
        $("input.component-number").each(function(_, node) {
          var number = parseInt(node.value);
          var price = parseFloat(node.attributes["data-price"].value);
          total_number += number;
          total_price += number * price;
        })
        $("#estimated-price").html(parseFloat(Math.round(total_price * 100) / 100).toFixed(2));
        $("#number-of-components").html(total_number)
      }
      calculate_estimated_price()
      $("input.component-number").change(calculate_estimated_price)
    })
