-extends "bootstrap3.html"
-load bootstrap3
-load i18n

-block bootstrap3_title
  -trans "Neutrinet Cube Ordering Form"

-block bootstrap3_extra_head
  :css
    h3 {
      margin-top: 0px;
    }

    .well {
      padding-bottom: 7px;
    }

    .table {
      background-color: white;
    }

    th {
      background-color: #DDDDDD;
    }

    .checkbox label {
      font-style: italic;
    }

-block bootstrap3_content
  .container
    %h1
      -trans "Neutrinet Cube Ordering Form"
    %hr

    %form{method: "POST"}
      -csrf_token

      -if form.errors
        .alert.alert-danger
          -trans "You have made some mistakes, please correct them."

      .well
        %h3
          -trans "Contact information"

        .row
          .col-md-6
            -bootstrap_field form.first_name
          .col-md-6
            -bootstrap_field form.last_name

        .row
          .col-md-6
            -bootstrap_field form.email
          .col-md-6
            -bootstrap_field form.nick

      .well
        %h3
          -trans "Preferences"

        -bootstrap_field form.wants_to_install_everything_himself

      .well
        %h3
          -trans "Subscribe to a Neutrinet VPN (recommended)"

        %p
          %span.help-block
            -trans "You do not need to fill this section if you already have a VPN subscription."

        %p
          -trans "You will need a VPN connection if you want your Cube to work in a <i>plug'n play</i> fashion. It is stongly recommended to use one, unless you know what you are doing."

        %p
          -trans "Technically, the VPN connection will encrypt all your Cube's traffic, making it unreadable to your current <abbr title='Internet Service Provider'>ISP</abbr>, and will give your Cube a static IP address that will make it easily reachable wherever you install it (roughly like a mobile phone number)."

        %hr

        %p
          -trans "Please note that Neutrinet is a non-profit ASBL/VZW. Therefore, by subscribing to the VPN service, you will become a <b>member</b> of Neutrinet. This membership grants you the right to vote and decide the future of Neutrinet. You will not be a customer, you will be Neutrinet."

        %p
          -trans "<b>You are free to consider how much your VPN subscription is worth</b>, and how much you want to pay for it. We strongly recommend you to pay at least 6€/month, because we cannot currently afford to lower the service's price below. The mandatory membership fee costing 25€/year, we are all paying around 8€/month (6€ + 2€ for membership) for now. Of course, any additional support is really appreciated :-)"

        %p
          %span.help-block
            -trans "If you want to run multiple Cubes at the same time, you will need multiple VPN subscriptions."

        -bootstrap_field form.wants_vpn

        #vpn_informations{style: "display: none"}
          %p
            %span.help-block
              -trans "The Belgium Telecom laws and our ASBL/VZW status requires us to ask you the following personal informations. It will obviously not be selled nor leaked."

          .row
            .col-md-6
              -bootstrap_field form.street
              -bootstrap_field form.postal_code
              -bootstrap_field form.town
              -bootstrap_field form.country
            .col-md-6
              -bootstrap_field form.birthplace
              -bootstrap_field form.birth_date

      .well
        %h3
          -trans "Register a domain name (recommended)"

        %p
          %span.help-block
            -trans "You do not need to fill this section if you already have registered domain name."

        %p
          -trans "Your Cube will be associated to a domain name. It will enable you to receive emails at addresses like <b>you@your-domain.org</b> and to have your Cube accessible from <b>https://your-domain.org</b>."

        %p
          -trans "By default, we can provide you a domain name for free ending with <i>.nohost.me</i>, but if you want a domain name of your own (ending with <i>.be</i>, <i>.net</i> or <i>.org</i> for example), it will add an extra 1€ to your VPN subscription monthly fee."

        %p
          -trans "The domain name will be registered at <a href='https://gandi.net'>Gandi.net</a>. Also, <b>please ensure that the domain name you want is available there</b>."

        -bootstrap_field form.domain_name
        -bootstrap_field form.wants_neutrinet_to_renew_the_domain

      .well
        %h3
          -trans "Choose your components (required)"

        %p
          -trans "We have a special deal with <a href='http://olimex.com'>Olimex</a> that allows us to lower the prices. Prices below <b>include VAT</b> unlike those on Olimex.com."

        %hr

        %h4
          -trans "Default components of the Cube"
        %table.table.table-bordered
          %tr
            %th
              -trans "Quantity"
            %th
              -trans "Name"
            %th
              -trans "Estimated price"

          -for component in default_components
            %tr
              %td
                %input.component-number{type: "number", value: "1", id: "id_component_{{ component.id }}_number", name: "component_{{ component.id }}_number", data-price: "{{ component.current_price }}"}
              %td
                %a{href: "{{ component.url }}", target: "_blank"}
                  =component
              %td
                =component.current_price
                €

        %hr

        %h4
          -trans "Extra components"
        %table.table.table-bordered
          %tr
            %th
              -trans "Quantity"
            %th
              -trans "Name"
            %th
              -trans "Price"

          -for component in other_components
            %tr
              %td
                %input.component-number{type: "number", value: "0", id: "id_component_{{ component.id }}_number", name: "component_{{ component.id }}_number", data-price: "{{ component.current_price }}"}
              %td
                %a{href: "{{ component.url }}", target: "_blank"}
                  =component
              %td
                =component.current_price
                €

        %p
          -blocktrans
            %b
              Total price (+5€ for shipment):
            %span#estimated-price
            €
            for
            %span#number-of-components
            components

        %riv{style: "display: none"}
          -bootstrap_field form.estimated_price

        %p
          %span.help-block
            -trans "If you wish to cancel your order in the mean time, please contact us immediately at <a href='mailto:cube@neutrinet.be'>cube@neutrinet.be</a>."

      .well
        %h3
          -trans "Leave a comment (optional)"

        -bootstrap_field form.comment

      %center
        %input.btn.btn-lg.btn-primary{type: "submit", value: "Confirm my order"}

      %hr

    %p
      %span.help-block
        -trans "If you have any question or if you want to modify your order, please contact us as soon as you can at <a href='mailto:cube@neutrinet.be'>cube@neutrinet.be</a> or on <i>irc.freenode.net#neutrinet</i>."

    %p
      %b
        -trans "Please remember that we are humans and volunteers. We do not make any profit, we help you as much as we can and we do it on our spare time because we do believe in a better Internet."


-block bootstrap3_extra_script
  :javascript
    $(function() {
      var calculate_estimated_price = function() {
        var total_price = 5;
        var total_number = 0;
        $("input.component-number").each(function(_, node) {
          var number = parseInt(node.value);
          var price = parseFloat(node.attributes["data-price"].value);
          total_number += number;
          total_price += number * price;
        })
        $("#estimated-price").html(parseFloat(Math.round(total_price * 100) / 100).toFixed(2));
        $("#number-of-components").html(total_number)
        $("#id_estimated_price").val(parseFloat(Math.round(total_price * 100) / 100).toFixed(2));
      }
      calculate_estimated_price()
      $("input.component-number").change(calculate_estimated_price)

      $("input#id_wants_vpn").change(function() {
        $("#vpn_informations").toggle("slow");
      })

      if ($("input#id_wants_vpn")[0].checked === true) {
        $("#vpn_informations").show();
      }
    })
