-extends "bootstrap3.html"
-load admin2

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  :css
    .red { color: red; }

  .container
    %h2 All-in-one page about the current group order
    %hr

    %h3 Stats
    %hr

    %ul
      %li Number of orders:
        =orders.count

      %li Total estimated price:
        =total_estimated_price
        €

      %li Total real price:
        =total_real_price|default:""
        €

      %li New vpn subscription:
        =new_vpn_subscription

      %li Number or ordered components:
        -componentorder_sum components orders

    %h3 Members emails

    %ul
      %li <b>everyone:</b> {% for order in orders %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endfor %}
      %li <b>has received their order:</b> {% for order in orders %}{% if order.member_has_been_give_order %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>has not received their order:</b> {% for order in orders %}{% if not order.member_has_been_give_order %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>has payed:</b> {% for order in orders %}{% if order.has_payed %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>has not payed:</b> {% for order in orders %}{% if not order.has_payed %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>wants vpn:</b> {% for order in orders %}{% if order.wants_vpn %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>doesn't want vpn:</b> {% for order in orders %}{% if not order.wants_vpn %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>wants a domain name:</b> {% for order in orders %}{% if order.domain_name %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>doesn't want a domain name:</b> {% for order in orders %}{% if not order.domain_name %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>has a working cube (exclude the ones that wants to configure everything themself):</b> {% for order in orders %}{% if order.has_a_working_cube and not order.wants_to_install_everything_himself %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>doesn't have a working cube (exclude the ones that wants to configure everything themself):</b> {% for order in orders %}{% if not order.has_a_working_cube and not order.wants_to_install_everything_himself %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>wants to configure everything themself and has received their order:</b> {% for order in orders %}{% if order.member_has_been_give_order and order.wants_to_install_everything_himself %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>wants to configure everything themself and has NOT received their order:</b> {% for order in orders %}{% if not order.member_has_been_give_order and order.wants_to_install_everything_himself %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
      %li <b>has a working cube but not all composants:</b> {% for order in orders %}{% if order.has_a_working_cube and not order.member_has_been_give_order %}{{ order.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}

    %h3 Group order Status
    %hr

    .row
      .col-md-6
        %h4 Member has payed
        %ul
          -for order in orders
            -if order.has_payed
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}
                \-
                €
                =order.price_payed

        %p Total: €
          -total_payed orders

        %p Sum of what members has add on top of the minimum free price: €
          -total_addition_from_free_price orders

      .col-md-6
        %h4 Member hasn't payed
        %ul
          -for order in orders
            -if not order.has_payed
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}
                \-
                =order.email

        %p
          Emails in one line: {% for order in orders %}{% if not order.has_payed %}{{ order.email }}, {% endif %}{% endfor %}

    %h3 Components distribution status
    %hr

    -for order in orders
      .well
        %h4
          %b
            =order
            \-
            =order.email
            \-
            =order.estimated_price
            €
            \-
          %a{href: "/admin/ordering/order/{{ order.id }}/"}
            order

        .row
          .col-md-6
            %p Received:
            %ul
              -for component_order in order.componentorder_set.all
                -if component_order.received != 0
                  %li
                    =component_order.received
                    x
                    =component_order.component

          .col-md-6
            %p <b>Not</b> received:
            %ul
              -for component_order in order.componentorder_set.all
                -if component_order.not_received != 0
                  %li.red
                    =component_order.not_received
                    x
                    =component_order.component


    %h3 Number of ordered components
    %hr

    .row
      .col-md-6
        .well
          %h4 By pack

          -regroup components|dictsortreversed:"in_default_pack" by in_default_pack as in_pack

          -for pack in in_pack
            -if pack.grouper
              %p
                %b Components in the default pack:
            -else
              %p
                %b Other components:

            %ul
              -for component in pack.list
                %li
                  -count_in_current_group_order component orders
                  x
                  =component.display_with_url|safe
                  for €
                  -prices_in_current_group_order component orders

      .col-md-6
        .well
          %h4 By provider

          -regroup components|dictsort:"provider" by provider as providers

          -for provider in providers
            %p
              %b= provider.grouper

            %ul
              -for component in provider.list
                %li
                  -count_in_current_group_order component orders
                  x
                  =component.display_with_url|safe
                  for €
                  -prices_in_current_group_order component orders

            %p{style: "padding-left: 12px"} Total:
              -componentorder_sum provider.list orders

          %p Grand total:
            -componentorder_sum components orders

    %h3 Show who order from where
      %small to split shipment cost
    %hr

    .row
      -for provider_order in provider_order_list
        .col-md-4
          %p
            %b= provider_order.provider

          %ul
            -for order in provider_order.orders
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}


          %p{style: "padding-left: 12px"} Total:
            =provider_order.orders.count


    .row
      .col-md-6
        %h3 New vpn subscriptions
        %hr

        %ul
          -for order in orders
            -if order.wants_vpn
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}

        %p Total:
          =new_vpn_subscription

      .col-md-6
        %h3 Users that wants to configure everything by themselves
        %hr

        %ul
          -for order in orders
            -if order.wants_to_install_everything_himself
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}

    %h3 Domains members wants us to register
    %hr

    %ul
      -for order in orders
        -if order.domain_name
          %li
            =order.domain_name
            for
              -if order.nick
                {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
              -else
                {{ order.first_name }} {{ order.last_name }}
              \-
              =order.email
            -if order.wants_neutrinet_to_renew_the_domain
              %b
                and he wants us to handle the renewing of his domain


    %h3 Comments
      %small made by members on their order
    %hr

    %h3 Fritedombox tools script

    %pre<
      -include "admin2/script.html"

    -for order in orders
      -if order.comment
        %p
          %b Comment from
            -if order.nick
              {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
            -else
              {{ order.first_name }} {{ order.last_name }}
            \-
            =order.email
        %pre= order.comment
