-extends "bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 All-in-one page about the current group order
    %hr

    %p
      %b
        For now, orders are filtered on the field 'member_has_been_give_order', this will probably change in the futur.

    %h3 Stats
    %hr

    %ul
      %li Number of orders:
        =orders.count

      %li Total estimated price:
        =total_estimated_price

    %h3 Ordered components

    -regroup components|dictsortreversed:"in_default_pack" by in_default_pack as in_pack

    -for pack in in_pack
      -if pack.grouper
        %p
          %b Components in the default pack:
      -else
        %p
          %b Other components:

      %ul
        -for component in pack.list
          %li= component.count_in_current_group_order
            x
            =component
