-extends "bootstrap3.html"
-load admin2

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 All-in-one page about the current group order
    %hr

    %p
      %b
        For now, orders are filtered on the field 'member_has_been_give_order', this will probably change in the futur.

    %h3 Stats
    %hr

    %ul
      %li Number of orders:
        =orders.count

      %li Total estimated price:
        =total_estimated_price

      %li New vpn subscription:
        =new_vpn_subscription

      %li Number or ordered components:
        -componentorder_sum components

    %h3 Number of ordered components
    %hr

    .row
      .col-md-6
        .well
          %h4 By pack

          -regroup components|dictsortreversed:"in_default_pack" by in_default_pack as in_pack

          -for pack in in_pack
            -if pack.grouper
              %p
                %b Components in the default pack:
            -else
              %p
                %b Other components:

            %ul
              -for component in pack.list
                %li= component.count_in_current_group_order
                  x
                  =component.display_with_url|safe

      .col-md-6
        .well
          %h4 By provider

          -regroup components|dictsort:"provider" by provider as providers

          -for provider in providers
            %p
              %b= provider.grouper

            %ul
              -for component in provider.list
                %li= component.count_in_current_group_order
                  x
                  =component.display_with_url|safe

            %p{style: "padding-left: 12px"} Total:
              -componentorder_sum provider.list

          %p Grand total:
            -componentorder_sum components

    %h3 Show who order from where
      %small to split shipment cost
    %hr

    .row
      -for provider_order in provider_order_list
        .col-md-4
          %p
            %b= provider_order.provider

          %ul
            -for order in provider_order.orders
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}


          %p{style: "padding-left: 12px"} Total:
            =provider_order.orders.count
