-extends "bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h1 Neutrinet Cube Group Order Form Second Admin Interface
    %hr

    %p
      %i
        Because modifying the django admin interface sucks.

    %h3 Available admin pages:
    %ul
      %li
        %a{href: "{% url 'admin2_current_order' %}"}
          current order "all in one" page
