-extends "bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 Neutrinet Cube Group Order Form Second Admin Interface
    %hr

    %p
      %i
        Because modifying the django admin interface sucks.

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            Group Orders

          .panel-body

              -for group_order in group_orders
                %li
                  %a{href: "{% url 'admin2_group_order_detail' group_order.pk %}"}= group_order.name

      .col-md-6
        .panel.panel-default
          .panel-heading
            Stock

          %table.table.table-bordered
            %colgroup
              %col
              %col{width: "10px"}
              %col{width: "10px"}
            %tr
              %th Name
              %th Stock
              %th Price
            -for component in components
              %tr
                %td
                  %a{href: "{{ component.url }}"}= component.reference
                %td= component.stock
                %td= component.current_price
