-extends "bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 Neutrinet Cube Group Order Form Second Admin Interface
    %hr

    %p
      %i
        Because modifying the django admin interface sucks.

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            Group Orders

          .panel-body

              -for group_order in group_orders
                %li
                  %a{href: "{% url 'admin2_group_order_detail' group_order.pk %}"}= group_order.name

        .panel.panel-default
          .panel-heading
            Hasn't received

          .list-group
            -for order in orders
              -if not order.member_has_been_give_order
                %a.list-group-item{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if not order.has_payed
                    %span.badge
                      hasn't payed
                  =order

        .panel.panel-default
          .panel-heading
            Hasn't payed

          .list-group
            -for order in orders
              -if not order.has_payed
                %a.list-group-item{href: "/admin/ordering/order/{{ order.id }}/change/"}
                  %span.badge
                    =order.estimated_price
                    €
                  =order

      .col-md-6
        -regroup components by in_default_pack as component_group
        -for cg in component_group
          -if cg.grouper
            -with title="Default components" components=cg.list
              -include "admin2/home/stock.haml"
          -else
            -with title="Other components" components=cg.list
              -include "admin2/home/stock.haml"

  :css
    td.price {
      width: 65px;
      text-align: right;
    }
