.panel.panel-default
  .panel-heading
    =title

  %table.table.table-bordered
    %colgroup
      %col
      %col{width: "10px"}
      %col{width: "15px", style: "text-align: right"}
    %tr
      %th Name
      %th Stock
      %th Price
    -for component in components
      %tr
        %td
          %a{href: "/admin/ordering/component/{{ component.id }}/"}= component.reference
          %i= component.full_name
        %td= component.stock
        %td.price= component.current_price
          €
