.panel.panel-default
  .panel-heading
    =title

  %table.table.table-bordered
    %colgroup
      %col
      %col{width: "10px"}
      %col{width: "15px", style: "text-align: right"}
    %tr
      %th Name
      %th Stock
      %th Price
    -for component in components
      %tr
        %td
          -if component.full_name
            %a{href: "/admin/ordering/component/{{ component.id }}/"}
              =component.full_name
              %i= component.reference
          -else
            %a{href: "/admin/ordering/component/{{ component.id }}/"}
              =component.reference
        %td= component.stock
        %td.price= component.current_price
          €
